<!-- include the header -->
<%- include('include/_header') %>
  <!-- /include header-->

  <!-- Main Site -->
  <main>
    <h1>This is the list of the dramas you have watched</h1>
  </main>
  <!-- /Main Site -->

  <div>
    <input type="hidden" class="dramaId" value="<%= drama._id %>">
    
    Watchlist Entry <textarea class="content">  <%= watchlist.content %></textarea>
    </label>
    <input type="submit" class="submit" value="submit" />
    <input type="submit" class="delete" value="delete" />
  </div>

  <script src="/js/editEntry.js"></script>

  <!-- include footer -->
  <%- include('include/_footer') %>
    <!-- /include footer -->
