<%- include('include/_header') %>

<main>
  <h1>Welcome to the Watchlist! 🎬✨</h1>
  <p>
    Hola amigos! 👋 I am DK and this is my watchlist for K/C Dramas.
    <br /> I will be updating this watchlist as I watch more dramas and add
    more entries. Stay tuned for more updates! ✨
  </p>
  <p>
    If you would like to contribute, please feel free to do so! You can
    click on the watchlist button to add a new recommendation.
    <br /> To view the dramas I have already watched, press the "Viewed
    Watchlist" button.
  </p>
  <a href="/watchlist" role="button">Watchlist ➕</a>
  <a href="/alreadyWatchlist" role="button">Viewed Watchlist ✅</a>
</main>

<%- include('include/_footer') %>
